// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
		width: 100%;
		float: left;
		margin: 0 0 3em 0;
		padding: 0;
		list-style:none; 
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc; }
#nav li {
		float: left; }
#nav li a {
		display: block;
		padding: 8px 15px; }

#HomeContainer {
		position:relative;
		top: 150px;
		right: -500px; }
#HomeContainer span {
		position: relative;
		right: -89px; }